<manifest package="per.goweii.ponyo"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <provider
            android:name=".panel.file.FileOpenProvider"
            android:authorities="${applicationId}.ponyo.file.fileopenprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ponyo_file_paths" />
        </provider>
    </application>
</manifest>
